BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
ADMIN_CHAT_ID=123456789
YT_API=YOUR_YOUTUBE_API_KEY
BOT_USERNAME=your_bot_username
GEMINI_API_KEY=YOUR_GEMINI_API_KEY
REMOVE_BG_API_KEY=YOUR_REMOVE_BG_API_KEY
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=telegram_bot
